<?xml version="1.0"?>
<!--
/**
 * Copyright © Bloomreach, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Bloomreach_Connector::config_dashboard" title="Bloomreach Dashboard" translate="title" sortOrder="220">
                    <resource id="Bloomreach_Connector::config_indexing" title="Indexing" translate="title" sortOrder="230"/>
                    <resource id="Bloomreach_Connector::config_search" title="Search" translate="title" sortOrder="240"/>
                    <resource id="Bloomreach_Connector::config_collections" title="Collections" translate="title" sortOrder="250"/>
                    <resource id="Bloomreach_Connector::config_optimize" title="Optimize" translate="title" sortOrder="260"/>
                    <resource id="Bloomreach_Connector::config_pixel" title="Pixel" translate="title" sortOrder="265"/>
                    <resource id="Bloomreach_Connector::config_recommendations" title="Recommendations" translate="title" sortOrder="270"/>
                    <resource id="Bloomreach_Connector::config_settings" title="Settings" translate="title" sortOrder="280"/>
                </resource>
            </resource>
        </resources>
    </acl>
</config>
