<?xml version="1.0"?>
<!--
/**
 * Bloomreach Connector extension
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the Bloomreach Proprietary License
 * that is bundled with this package in the file LICENSE.txt.
 *
 * @category       Bloomreach
 * @package        Connector
 * @copyright      Copyright (c) 2021-current Bloomreach Inc.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <bloomreach_search>
            <autosuggest>
                <enabled>1</enabled>
                <css_selector>#search</css_selector>
                <suggested_terms>4</suggested_terms>
                <suggested_products>3</suggested_products>
                <suggested_collection>4</suggested_collection>
                <main_template_text>
                    <![CDATA[<% if (terms.length || productSuggestions.length) { %>
                            <div class="blm-autosuggest">
                              <div class="blm-autosuggest__suggestion-terms-container">
                                <ul class="blm-autosuggest__suggestion-terms">
                                  <% terms.forEach(function(term) { %>
                                    <li class="blm-autosuggest__suggestion-term">
                                      <a href="<%- term.link %>" class="blm-autosuggest__suggestion-term-link" data-suggestion-text="<%- term.text %>"><%- term.processedText %></a>
                                      <% if (term.categories) { %>
                                        <ul class="blm-autosuggest__category-results">
                                          <% term.categories.forEach(function(category) { %>
                                          <li class="blm-autosuggest__suggestion-term">
                                            <a href="#"
                                               data-category-id="<%- category.value %>"
                                               data-suggestion-text="<%- category.name %>"
                                               class="blm-autosuggest__suggestion-term-link blm-autosuggest__suggestion-term-link--category"><%- category.name %></a>
                                          </li>
                                          <% }); %>
                                        </ul>
                                      <% } %>
                                    </li>
                                  <% }); %>
                                </ul>
                              </div>
                              <div class="blm-autosuggest__results-container">
                                <div class="blm-autosuggest__results">
                                  <% productSuggestions.forEach(function(suggestion) { %>
                                    <div class="blm-autosuggest__result">
                                      <div class="blm-autosuggest-result-image">
                                        <a title="<%= suggestion.title %>"
                                          aria-hidden="true"
                                          tabindex="-1"
                                          href="<%= suggestion.link %>"
                                          class="blm-autosuggest-result-image__link">
                                          <img class="blm-autosuggest-result-image__image" src="<%= suggestion.image %>"/>
                                        </a>
                                      </div>
                                      <div class="blm-autosuggest-result-details">
                                        <a class="blm-autosuggest-result-details__title" href="<%= suggestion.link %>"><%= suggestion.title %></a>
                                        <div class="blm-autosuggest-result-details__price blm-autosuggest-result-details__price--final">
                                          <%- defaultCurrency %><%= suggestion.final_price.toFixed(2) %>
                                          <% if (suggestion.original_price) { %>
                                            <span class="blm-autosuggest-result-details__price blm-autosuggest-result-details__price--original">
                                            <%- defaultCurrency %><%= suggestion.original_price.toFixed(2) %>
                                            </span>
                                          <% } %>
                                        </div>
                                      </div>
                                    </div>
                                  <% }); %>
                                </div>
                              </div>
                            </div>
                            <% } %>]]>
                </main_template_text>
            </autosuggest>
            <sitesearch>
                <enabled>1</enabled>
                <css_selector>#maincontent > .columns</css_selector>
                <items_per_page>16</items_per_page>
                <show_variants>0</show_variants>
                <show_facets>1</show_facets>
                <no_of_facets>5</no_of_facets>
                <no_of_facet_options>6</no_of_facet_options>
                <infinite_scroll>0</infinite_scroll>
                <field_list>pid,title,brand,price,sale_price,thumb_image,sku_thumb_images,sku_swatch_images,sku_color_group,url,price_range,sale_price_range,description</field_list>
                <main_template_text>
                    <![CDATA[<% if (did_you_mean.length) { %>
      <div class="blm-product-search-header">
        <div class="blm-product-search-header-container">
          <h1 class="blm-product-search-header-container__title">Results for
            <% if (locals.keywordRedirect && keywordRedirect.redirected_url) { %>
              <i><%- keywordRedirect.redirected_url %></i>
            <% } else { %>
              <i><%- did_you_mean[0] %></i>
            <% } %>
             instead of <i class="blm-product-search-header-container__title__searched-word"><%- originalQuery %></i></h1>
          <div class="blm-did-you-mean-suggestion">
            <label class="blm-did-you-mean-suggestion__label">Did you mean:</label>
            <% did_you_mean.forEach(function(word) { %>
            <a href="<%= config.get('searchPageUrl') %>?<%= config.get('defaultSearchParameter') %>=<%= word %>" class="blm-did-you-mean-suggestion__link"><%- word %></a>
            <% }); %>
          </div>
          <% if (locals.keywordRedirect && keywordRedirect.redirected_query) { %>
          <div class="blm-redirected-keyword">Redirected from <i>"<%- keywordRedirect.redirected_query %>"</i>.</div>
          <% } %>
        </div>
      </div>
    <% } %>
    <% if (locals.keywordRedirect && keywordRedirect.redirected_url && did_you_mean.length === 0) { %>
      <div class="blm-product-search-header">
        <div class="blm-product-search-header-container">
          <h1 class="blm-product-search-header-container__title">Results for <i><%- keywordRedirect.redirected_url %></i> </h1>
          <div class="blm-redirected-keyword">Redirected from <i>"<%- keywordRedirect.redirected_query %>"</i> </div>
        </div>
      </div>
    <% } %>
    <div class="blm-product-search <% if (config.get('areFacetsIncluded')) { %>with-facets<% } %>">
        <% if (config.get('areFacetsIncluded') && facets.length) { %>
        <aside class="blm-product-search-sidebar">

          <button class="blm-product-search-control-button blm-product-search-control-button--sidebar">
            Filter
            <svg viewBox="0 0 14.8 14.8" class="blm-product-search-control-button__icon" focusable="false"><path d="M1.6 14.8V0m6 14.8V1.6m5.6 13.2V0" fill="none" stroke="#000" stroke-miterlimit="10"></path><circle cx="1.6" cy="7.4" r="1.6"></circle><circle cx="13.2" cy="10.4" r="1.6"></circle><circle cx="7.6" cy="1.6" r="1.6"></circle></svg>
          </button>

          <div class="blm-product-search-sidebar-content <% if (locals.isFiltersPanelOpened && isFiltersPanelOpened) { %>blm-open<% } %>">

            <button class="blm-product-search-control-button blm-product-search-control-button--sidebar blm-product-search-control-button--active">
              Done
              <svg viewBox="0 0 14.8 14.8" class="blm-product-search-control-button__icon" focusable="false"><path class="blm-product-search-control-button__icon-path" d="M1.6 14.8V0m6 14.8V1.6m5.6 13.2V0" fill="none" stroke="#000" stroke-miterlimit="10"></path><circle cx="1.6" cy="7.4" r="1.6"></circle><circle cx="13.2" cy="10.4" r="1.6"></circle><circle cx="7.6" cy="1.6" r="1.6"></circle></svg>
            </button>

            <div class="blm-product-search-filter">
              <h4 class="blm-product-search-filter-title">Price</h4>
              <div class="blm-price-range-container">
                <div class="blm-range-slider">
                  <input
                    value="<%= checkedFacets.price ? checkedFacets.price[0] : priceRangeFacet.start %>"
                    min="<%- priceRangeFacet.start %>"
                    max="<%- priceRangeFacet.end %>"
                    step="<%- priceRangeFacet.step %>"
                    type="range"
                    class="blm-price-range-input blm-price-range-input--lower">
                  <span class="blm-price-range-slider-rail"></span>
                  <input
                    value="<%= checkedFacets.price ? (checkedFacets.price[1] === '*' ? priceRangeFacet.end : checkedFacets.price[1]) : priceRangeFacet.end %>"
                    min="<%- priceRangeFacet.start %>"
                    max="<%- priceRangeFacet.end %>"
                    step="<%- priceRangeFacet.step %>"
                    type="range"
                    class="blm-price-range-input blm-price-range-input--upper">
                </div>
                <div class="blm-range-slider__values">
                  <span class="blm-range-slider__values--min"><%- defaultCurrency %><%- checkedFacets.price ? checkedFacets.price[0] : priceRangeFacet.start %></span>
                  <% if (checkedFacets.price) { %>
                  <span class="blm-range-slider__values--max"><%- defaultCurrency %><%- checkedFacets.price ? (checkedFacets.price[1] === '*' ? (priceRangeFacet.end - priceRangeFacet.step) + '+' : checkedFacets.price[1]) : priceRangeFacet.start %></span>
                  <% } else { %>
                  <span class="blm-range-slider__values--max"><%- defaultCurrency %><%- (priceRangeFacet.end - priceRangeFacet.step) + '+' %></span>
                  <% } %>
                </div>
              </div>
            </div>
            <% facets.forEach(function(facet, facetIndex) { %>
              <% if (facet.section.length > 0) { %>
              <div class="blm-product-search-filter" id="blm-facet-block-item-<%= facetIndex %>">
                <h4 class="blm-product-search-filter-title"><%- facet.title %></h4>
                <ul class="blm-product-search-filter-items">
                  <% facet.section.forEach(function(item) { %>
                  <li class="blm-product-search-filter-item">
                    <input
                      type="checkbox"
                      <% if (facet.original_title in checkedFacets && checkedFacets[facet.original_title].includes(item.id)) { %>checked<% } %>
                      name="<%- facet.original_title %>"
                      value="<%- item.id %>"
                      id="<%- facet.original_title + '[' + item.name + ']' %>"
                      class="blm-product-search-filter-item__checkbox"/>
                    <label class="blm-product-search-filter-item__name" for="<%- facet.original_title + '[' + item.name + ']' %>"><%- item.name %></label>
                    <% if (!config.get('displayVariants')) { %>
                    <span class="blm-product-search-filter-item__badge"><%- item.count %></span>
                    <% } %>
                  </li>
                  <% }); %>
                </ul>
                <% if (facet.section.length > config.get('initialNumberOfFacetValues')) { %>
                <div class="blm-product-search-load-more" data-item="<%= facetIndex %>">+ More</div>
                <% } %>
              </div>
              <% } %>
            <% }); %>
            <% if (facets[0].section.length) { %>
            <div class="blm-load-more-facet">+ More </div>
            <% } %>
          </div>
        </aside>
        <% } %>
        <section class="blm-product-search-main">
          <div class="blm-product-search-toolbar">
            <% if (locals.number_of_results && number_of_results > 0) { %>
            <h2 class="blm-product-search-toolbar__title">
              Showing <%- start + 1 %> - <%- Math.min(start + products.length, number_of_results) %> of <%- number_of_results %> products
            </h2>
            <div class="blm-product-search-toolbar-options">
              <span class="blm-product-search-toolbar-options blm-product-search-toolbar-options--page-size">
                <label for="sort-size" class="blm-product-search-toolbar-options__label">Size: </label>
                <select
                  name="sort-size"
                  id="sort-size"
                  class="blm-product-search-toolbar-options__select">
                  <% for (let i = 16; i <= 48; i += 4) { %>
                    <option value="<%- i %>" <% if (locals.size && size === i) { %>selected<% } %>><%- i %></option>
                  <% } %>
                </select>
              </span>
              <span class="blm-product-search-toolbar-options blm-product-search-toolbar-options--sort-by">
                <label for="sort-by" class="blm-product-search-toolbar-options__label">Sort By: </label>
                <select
                  name="sort-by"
                  id="sort-by"
                  class="blm-product-search-toolbar-options__select">
                  <% config.get('sortingOptions').forEach(function(option) { %>
                    <option value="<%- option.value %>" <% if (locals.sort && sort === option.value) { %>selected<% } %>><%- option.label %></option>
                  <% }) %>
                </select>
              </span>
            </div>
            <% } else { %>
            <h2 class="blm-product-search-toolbar__title">
              No results found
            </h2>
            <% } %>
          </div>
          <% if (products.length) { %>
          <div class="blm-product-search__results">
            %%-PRODUCT_LIST_TEMPLATE-%%
          </div>
          <% } %>
          <% if (!locals.mobileView || !mobileView.matches) { %>
              <% if (!config.get('infiniteScroll') && paginationData.length > 0) { %>
              <div class="blm-product-search-pagination">
                <ul class="blm-product-search-pagination__pages">
                  <% paginationData.forEach(paginationNode => { %>
                    <li class="blm-product-search-pagination__page">
                      <button <% if (paginationNode.disabled) { %>disabled<% } %> class="blm-product-search-pagination__page-link <% if (paginationNode.active) { %>blm-product-search-pagination__page-link--active<% } %>" data-value="<%- paginationNode.value %>">
                      <%- paginationNode.label ?? paginationNode.value %>
                      </button>
                    </li>
                  <% }) %>
                </ul>
              </div>
              <% } %>
          <% } %>
        </section>
      </div>]]>
                </main_template_text>
                <productlist_template_text>
                    <![CDATA[<% products.forEach(function(product) { %>
      <div class="blm-product-search__result" <% if (product.variant_name) { %>title="<%- product.variant_name %>"<% } %>>
        <div class="blm-product-search-image-container">
          <% if (product.variants && product.variants.length > 1) { %>
            <% product.variants.forEach(function(variant) { %>
            <div class="blm-product-search-swatch-image fade">
              <img
                class="blm-product-search-image-container__image"
                alt="title"
                src="<%= variant.image %>"/>
            </div>
            <% }); %>
          <% } else { %>
            <div class="blm-product-search-swatch-image fade">
              <img
                class="blm-product-search-image-container__image"
                alt="title"
                src="<%= product.image %>"/>
            </div>
          <% } %>
        </div>
        <div class="blm-product-search-details-container">
          <div class="blm-product-search-details-title-container">
            <a href="<%= product.link %>" class="blm-product-search-details-container__title"><%- product.title %></a>
          </div>
            <p class="blm-product-search-details-container__price"><% if( product.final_price ) { %><%- defaultCurrency %><%- product.final_price.toFixed(2) %>  <% } %> <span <% if (product.price) { %>class="blm-product-search-details-container__price--strike-through"<% } %>><%- defaultCurrency %><%- product.price.toFixed(2) %></span></p>
        </div>

        <% if (product.variants && product.variants.length > 1) { %>
          <ul class="blm-product-search-swatch-container">
          <% product.variants.slice(0, defaultMaxColorSwatches || 0).forEach(function(variant) { %>
            <li
              class="blm-product-search-swatch-container__swatch"
              style="background-image: url('<%= variant.image %>')"></li>
          <% }); %>
          </ul>

          <% if (product.variants.length > defaultMaxColorSwatches || 0) { %>
          <small class="blm-product-search-swatch-colors">(Colors) <%- product.variants.length %></small>
          <% } %>
        <% } %>
      </div>
    <% }); %>]]>
                </productlist_template_text>
            </sitesearch>
        </bloomreach_search>
        <bloomreach_collections>
            <general>
                <enabled>1</enabled>
                <css_selector>#maincontent > .columns</css_selector>
                <items_per_page>16</items_per_page>
                <show_variants>0</show_variants>
                <show_facets>1</show_facets>
                <no_of_facets>5</no_of_facets>
                <no_of_facet_options>6</no_of_facet_options>
                <infinite_scroll>0</infinite_scroll>
                <field_list>pid,title,brand,price,sale_price,thumb_image,sku_thumb_images,sku_swatch_images,sku_color_group,url,price_range,sale_price_range,description</field_list>
                <main_template_text>
                    <![CDATA[<div class="blm-category <% if (config.get('areFacetsIncluded')) { %>with-facets<% } %>">
        <% if (config.get('areFacetsIncluded') && facets.length) { %>
        <aside class="blm-category-sidebar">
          <button class="blm-category-control-button blm-category-control-button--sidebar">
            Filter
            <svg viewBox="0 0 14.8 14.8" class="blm-category-control-button__icon" focusable="false"><path d="M1.6 14.8V0m6 14.8V1.6m5.6 13.2V0" fill="none" stroke="#000" stroke-miterlimit="10"></path><circle cx="1.6" cy="7.4" r="1.6"></circle><circle cx="13.2" cy="10.4" r="1.6"></circle><circle cx="7.6" cy="1.6" r="1.6"></circle></svg>
          </button>
          <div class="blm-category-sidebar-content <% if (locals.isFiltersPanelOpened && isFiltersPanelOpened) { %>blm-open<% } %>">
            <button class="blm-category-control-button blm-category-control-button--sidebar blm-category-control-button--active">
              Done
              <svg viewBox="0 0 14.8 14.8" class="blm-category-control-button__icon" focusable="false"><path class="blm-category-control-button__icon-path" d="M1.6 14.8V0m6 14.8V1.6m5.6 13.2V0" fill="none" stroke="#000" stroke-miterlimit="10"></path><circle cx="1.6" cy="7.4" r="1.6"></circle><circle cx="13.2" cy="10.4" r="1.6"></circle><circle cx="7.6" cy="1.6" r="1.6"></circle></svg>
            </button>
            <div class="blm-category-filter">
              <h4 class="blm-category-filter-title">Price</h4>
              <div class="blm-price-range-container">
                <div class="blm-range-slider">
                  <input
                    value="<%= checkedFacets.price ? checkedFacets.price[0] : priceRangeFacet.start %>"
                    min="<%- priceRangeFacet.start %>"
                    max="<%- priceRangeFacet.end %>"
                    step="<%- priceRangeFacet.step %>"
                    type="range"
                    class="blm-price-range-input blm-price-range-input--lower">
                  <span class="blm-price-range-slider-rail"></span>
                  <input
                    value="<%= checkedFacets.price ? (checkedFacets.price[1] === '*' ? priceRangeFacet.end : checkedFacets.price[1]) : priceRangeFacet.end %>"
                    min="<%- priceRangeFacet.start %>"
                    max="<%- priceRangeFacet.end %>"
                    step="<%- priceRangeFacet.step %>"
                    type="range"
                    class="blm-price-range-input blm-price-range-input--upper">
                </div>
                <div class="blm-range-slider__values">
                  <span class="blm-range-slider__values--min"><%- defaultCurrency %><%- checkedFacets.price ? checkedFacets.price[0] : priceRangeFacet.start %></span>
                  <% if (checkedFacets.price) { %>
                  <span class="blm-range-slider__values--max"><%- defaultCurrency %><%- checkedFacets.price ? (checkedFacets.price[1] === '*' ? (priceRangeFacet.end - priceRangeFacet.step) + '+' : checkedFacets.price[1]) : priceRangeFacet.start %></span>
                  <% } else { %>
                  <span class="blm-range-slider__values--max"><%- defaultCurrency %><%- (priceRangeFacet.end - priceRangeFacet.step) + '+' %></span>
                  <% } %>
                </div>
              </div>
            </div>

            <% facets.forEach(function(facet, facetIndex) { %>
              <% if (facet.section.length > 0) { %>
              <div class="blm-category-filter" id="blm-facet-block-item-<%= facetIndex %>">
                <h4 class="blm-category-filter-title"><%- facet.title %></h4>
                <ul class="blm-category-filter-items">
                  <% facet.section.forEach(function(item) { %>
                  <li class="blm-category-filter-item">
                    <input
                      type="checkbox"
                      <% if (facet.original_title in checkedFacets && checkedFacets[facet.original_title].includes(item.id)) { %>checked<% } %>
                      name="<%- facet.original_title %>"
                      value="<%- item.id %>"
                      id="<%- facet.original_title + '[' + item.name + ']' %>"
                      class="blm-category-filter-item__checkbox" />
                    <label class="blm-category-filter-item__name" for="<%- facet.original_title + '[' + item.name + ']' %>"><%- item.name %></label>
                    <% if (!config.get('displayVariants')) { %>
                    <span class="blm-category-filter-item__badge"><%- item.count %></span>
                    <% } %>
                  </li>
                  <% }); %>
                </ul>
                <% if (facet.section.length > config.get('initialNumberOfFacetValues')) { %>
                <div class="blm-category-load-more" data-item="<%= facetIndex %>">+ More</div>
                <% } %>
              </div>
              <% } %>
            <% }); %>

            <% if (facets[0].section.length) { %>
            <div class="blm-load-more-facet">+ More </div>
            <% } %>

          </div>
        </aside>
        <% } %>
        <section class="blm-category-main">
          <div class="blm-category-toolbar">
            <% if (locals.number_of_results && number_of_results > 0) { %>
            <h2 class="blm-category-toolbar__title">
              Showing <%- start + 1 %> - <%- Math.min(start + products.length, number_of_results) %> of <%- number_of_results %> products
            </h2>
            <div class="blm-category-toolbar-options">
              <span class="blm-category-toolbar-options blm-category-toolbar-options--page-size">
                <label for="sort-size" class="blm-category-toolbar-options__label">Size: </label>
                <select
                  name="sort-size"
                  id="sort-size"
                  class="blm-category-toolbar-options__select">
                  <% for (let i = 16; i <= 48; i += 4) { %>
                    <option value="<%- i %>" <% if (locals.size && size === i) { %>selected<% } %>><%- i %></option>
                  <% } %>
                </select>
              </span>
              <span class="blm-category-toolbar-options blm-category-toolbar-options--sort-by">
                <label for="sort-by" class="blm-category-toolbar-options__label">Sort By: </label>
                <select
                  name="sort-by"
                  id="sort-by"
                  class="blm-category-toolbar-options__select">
                  <% config.get('sortingOptions').forEach(function(option) { %>
                    <option value="<%- option.value %>" <% if (locals.sort && sort === option.value) { %>selected<% } %>><%- option.label %></option>
                  <% }) %>
                </select>
              </span>
            </div>
            <% } else { %>
            <h2 class="blm-category-toolbar__title">
              No results found
            </h2>
            <% } %>
          </div>
          <% if (products.length) { %>
          <div class="blm-category__results">
            %%-PRODUCT_LIST_TEMPLATE-%%
          </div>
          <% } %>
          <% if (!locals.mobileView || !mobileView.matches) { %>
              <% if (!config.get('infiniteScroll') && paginationData.length > 0) { %>
              <div class="blm-category-pagination">
                <ul class="blm-category-pagination__pages">
                  <% paginationData.forEach(paginationNode => { %>
                    <li class="blm-category-pagination__page">
                      <button <% if (paginationNode.disabled) { %>disabled<% } %> class="blm-category-pagination__page-link <% if (paginationNode.active) { %>blm-category-pagination__page-link--active<% } %>" data-value="<%- paginationNode.value %>">
                      <%- paginationNode.label ?? paginationNode.value %>
                      </button>
                    </li>
                  <% }) %>
                </ul>
              </div>
              <% } %>
          <% } %>
        </section>
      </div>]]>
                </main_template_text>
                <productlist_template_text>
                    <![CDATA[<% products.forEach(function(product) { %>
      <div class="blm-category__result" <% if (product.variant_name) { %>title="<%- product.variant_name %>"<% } %>>
        <div class="blm-category-image-container">
          <% if (product.variants && product.variants.length > 1) { %>
            <% product.variants.forEach(function(variant) { %>
            <div class="blm-category-swatch-image fade">
              <img
                class="blm-category-image-container__image"
                alt="title"
                src="<%= variant.image %>" />
            </div>
            <% }); %>
          <% } else { %>
            <div class="blm-category-swatch-image fade">
              <img
                class="blm-category-image-container__image"
                alt="title"
                src="<%= product.image %>" />
            </div>
          <% } %>
        </div>
        <div class="blm-category-details-container">
          <div class="blm-category-details-title-container">
            <a href="<%= product.link %>" class="blm-category-details-container__title">
              <%- product.title %></a>
          </div>
          <p class="blm-category-details-container__price"><% if( product.final_price ) { %><%- defaultCurrency %><%- product.final_price %>  <% } %> <span <% if (product.price) { %>class="blm-category-details-container__price--strike-through"<% } %>><%- defaultCurrency %><%- product.price %></span></p>

        </div>

        <% if (product.variants && product.variants.length > 1) { %>
          <ul class="blm-category-swatch-container">
          <% product.variants.slice(0, defaultMaxColorSwatches || 0).forEach(function(variant) { %>
            <li
              class="blm-category-swatch-container__swatch"
              style="background-image: url('<%= variant.image %>')"></li>
          <% }); %>
          </ul>

          <% if (product.variants.length > defaultMaxColorSwatches || 0) { %>
          <small class="blm-category-swatch-colors">(Colors) <%- product.variants.length %></small>
          <% } %>
        <% } %>
      </div>
    <% }); %>]]>
                </productlist_template_text>
            </general>
        </bloomreach_collections>
        <bloomreach_settings>
            <pixel>
                <enable_pixel>1</enable_pixel>
                <enable_atc_template>0</enable_atc_template>
                <enable_productlist_template>0</enable_productlist_template>
            </pixel>
            <api_url>
                <autosuggest_endpoint>prod</autosuggest_endpoint>
                <search_endpoint>prod</search_endpoint>
                <category_endpoint>prod</category_endpoint>
                <widgets_endpoint>prod</widgets_endpoint>
            </api_url>
        </bloomreach_settings>
        <bloomreach_recommendations>
            <general>
                <enable_recommendations>0</enable_recommendations>
                <field_list>pid,price,sale_price,title,thumb_image,url</field_list>
            </general>
        </bloomreach_recommendations>
    </default>
</config>
